@import url(../font-awesome/css/font-awesome.min.css);

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa'), local('Comfortaa-Regular'),
		url(../fonts/Comfortaa/Comfortaa-Regular.ttf) format('truetype');
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}
